{{- partial "gallery_preamble" .Page.Scratch }}
{{- $counters := partial "gallery_get_counters.html" . }}
{{- $gallery_counter := (index $counters 0) }}
{{- $gallery_image_counter := (index $counters 1) }}
{{- $image_url := .Destination }}
{{- $div_options := "" }}
{{- if strings.Contains $image_url "#" }}
  {{- $slice := split $image_url "#" }}
  {{- $div_options = printf "#%s" (index $slice 1) }}
  {{- $image_url = index $slice 0 }}
{{- end }}
{{- $div_style := partial "gallery_divoptions.html" $div_options }}
{{- $id := printf "gallery-image-%d" $gallery_image_counter }}
{{- $file := partial "gallery_file.html" (dict "file" $image_url "ctx" $.Page) }}
<div class="gallery-image-standalone" data-css="{{ range $div_style }}{{ . | safeCSS }}{{ end }}">
  <picture>
    {{- with $file.avif }}
      <source srcset="{{ . }}" type="image/avif"/>
    {{- end }}
    {{- with $file.webp }}
      <source srcset="{{ . }}" type="image/webp"/>
    {{- end }}
      <img class="gallery-image-primary" src="{{ $file.orig }}" id="{{ $id }}"
         {{- with $file.style }}
           style="{{ range . }}{{ . | safeCSS }}{{ end }}"
         {{- end }}
         {{- with $file.alt }}
           alt="{{ . }}"
         {{- else }}
           alt="{{ .Text }}"
         {{- end }}
    />
  </picture>
  <i class="gallery-caption">Caption: {{ .Text }}</i>
</div>
{{- $gallery_image_counter = add $gallery_image_counter 1}}
{{- partial "gallery_set_counters.html"
  (dict "ctx" $.Page "gallery_counter" $gallery_counter "gallery_image_counter" $gallery_image_counter) }}
