.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}

.gallery-picture-primary {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

.gallery-picture-thumbnail {
    grid-row: 2 / 2;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gallery-image i {
    padding-top: 5px;
    text-align: center;
}

.gallery-image-primary {
    max-width: 100%;
    box-shadow: 2px 2px 10px rgb(0 0 0);
}

.gallery-image-thumbnail {

}

.gallery-zoom {
    display: flex;
    flex-direction: column;
    color: grey;
    background-color: black;
    position: absolute;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
    padding: 0px;
}

.gallery-zoom a {
    vertical-align: top;
}

.gallery-zoom p {
    text-align: center;
}

.gallery-zoom img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: scale-down;
    margin: auto;
}

.gallery-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-grid-picture {
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0);
}

.gallery-showcase-div {
    max-width: 75%;
}

.gallery-showcase-overlay {
    display: flex;
    position: absolute;
    z-index: 100;
}

.gallery-showcase-overlay-link {
    width: 20%;
    height: 100%;
    font-size: 400%;
    display: flex;
}

.gallery-showcase-overlay-link p {
    margin: auto;
}

.gallery-showcase-overlay-spacer {
    width: 60%;
    height: 100%;
}

.gallery-showcase-bumper-left {
    margin-left: auto;
}

.gallery-showcase-bumper-right {
    margin-right: auto;
}

.gallery-showcase-select {
    display: flex;
    margin: auto;
    width: 90%;
}

.gallery-showcase-dot {
    width: 10px;
    height: 10px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery-showcase-dot-selected {
    width: 14px;
    height: 14px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

