{{- $alt := "" }}
{{- $file := dict }}
{{- $url := urls.Parse .file }}
{{- if not $url.Scheme }}
  {{- $file_path := "" }}
  {{- $file_base_name := "" }}
  {{- $file_name := "" }}
  {{- $file_ext := "" }}
  {{- $path := path.Dir .ctx.File.Path }}
  {{- if not (hasPrefix $url.Path "/") }}
    {{- if fileExists (path.Join (path.Dir .ctx.File.Path) $url.Path) }}
      {{- $file = merge $file (dict "exists" true) }}
      {{- $file = merge $file (dict "file" (path.Join (path.Dir .ctx.File.Path) $url.Path))}}
      {{- $file = merge $file (dict "path" (path.Dir .ctx.File.Path)) }}
      {{- $file = merge $file (dict "name" (index (strings.Split $url.Path ".") 0)) }}
      {{- $file = merge $file (dict "base_name" $file.name) }}
      {{- if strings.Contains $file.name "/" }}
        {{- $slice := split $file.name "/" }}
        {{- $file = merge $file (dict "base_name" (index (last 1 $slice) 0))}}
      {{- end }}
      {{- $file = merge $file (dict "ext" (index (strings.Split $url.Path ".") 1))}}
      {{- $orig := printf "%s/%s.%s" $file.path $file.name $file.ext }}
      {{- $avif := printf "%s/%s.avif" $file.path $file.name }}
      {{- $webp := printf "%s/%s.webp" $file.path $file.name }}
      {{- if fileExists $avif }}
        {{- $file = merge $file (dict "avif" (printf "%s.avif" $file.base_name))}} 
      {{- end }}
      {{- if fileExists $webp }}
        {{- $file = merge $file (dict "webp" (printf "%s.webp" $file.base_name))}} 
      {{- end }}
      {{- if fileExists $orig }}
        {{- $file = merge $file (dict "orig" (printf "%s.%s" $file.base_name $file.ext))}} 
      {{- end }}
    {{- else }}
      {{- $file = merge $file (dict "exists" false) }}
    {{- end }}
  {{- else }}
    {{- $file = merge $file (dict "exists" true) }}
    {{- $file = merge $file (dict "file" $url) }}
  {{- end }}
{{- end }}
{{- return $file }}
