<!--
  -- gallery_picture.html -- This creates a <picture> tag set for a given image and options with the
  -- following characteristics:
  -- 1. Dynamically convert to WebP format
  -- 1. Dynamically resize if the image is wider than 1920 * max-width.
  -->

{{- $alt := .alt }}
{{- $class := .class }}
{{- $crop := "" }}
{{- with .crop }}
  {{- $crop = . }}
{{- end }}

<!-- Determine maxwidth setting -->
{{- $maxwidth := 1.0 }}
{{- with .maxwidth }}
  {{- $maxwidth = . }}
{{- end }}

{{- $res := int (mul 1920 $maxwidth) }}

<picture class="{{ $class }}">
  <!-- Only try to modify local images -->
  {{- $url := urls.Parse .file }}
  {{- if not $url.Scheme }}
    {{- with .ctx.Resources.GetMatch .file }}
      {{- $orig := . }}
      {{- $webp := . }}

      <!-- Crop or resize and transcode if the image is wider than
        -- $res, otherwise just transcode -->
      {{- if $crop }}
        {{- $orig = .Process (printf "fill %s center" $crop) }}
        {{- $webp = .Process (printf "fill %s center webp" $crop) }}
      {{- else if gt .Width $res }}
        {{- $orig = .Process (printf "resize %dx" $res) }}
        {{- $webp = .Process (printf "resize %dx webp" $res) }}
      {{- else }}
        {{- $webp = .Process "webp" }}
      {{- end }}

      <source srcset="{{ $webp.RelPermalink }}" type="image/webp"/>
      <img class="{{ $class }}" src="{{ $orig.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
    {{- end }}
  {{- else }}
    <img class="{{ $class }}" src="{{ $url }}" alt="{{ $alt }}" loading="lazy">
  {{- end }}
</picture>
