{{- partial "gallery_preamble" .Page.Scratch }}
{{- $counters := partial "gallery_get_counters.html" . }}
{{- $gallery_counter := (index $counters 0) }}
{{- $gallery_image_counter := (index $counters 1) }}
{{- $div_style := partial "gallery_divoptions.html" (.Get 0) }}
<div id="gallery-{{ .Page.Scratch.Get "gallery-counter" }}" class="gallery" data-css="{{ range $div_style }}{{ . | safeCSS }}{{ end }}">
{{- $primary_set := false }}
{{- range .Params }}
  {{- if hasPrefix . "#" }}
    {{- continue }}
  {{- end }}
  {{- $alt := "" }}
  {{- $url := urls.Parse . }}
  {{- $file := partial "gallery_file.html" (dict "file" . "ctx" $.Page) }}
  {{- if $url.Query.Has "alt" }}
    {{- $alt = $url.Query.Get "alt" }}
  {{ end }}
  <picture id="gallery-picture-{{ $gallery_image_counter }}"
  {{- if eq $primary_set false }}
    class="gallery-picture-primary">
  {{- else }}
    class="gallery-picture-thumbnail">
  {{- end }}
  {{- with $file.avif }}
    <source srcset="{{ . }}" type="image/avif" />
  {{- end }}
  {{- with $file.webp }}
    <source srcset="{{ . }}" type="image/webp" />
  {{- end }}
  <img
   id="gallery-image-{{ $gallery_image_counter }}"
   src="{{ $file.orig }}"
   {{- if eq $primary_set false }}
     class="gallery-image-primary"
     {{- $primary_set = true }}
   {{- else }}
     class="gallery-image-thumbnail"
   {{- end }}
   alt="{{ $alt }}"
   loading="lazy"
  />
  </picture>
  {{- $gallery_image_counter = add $gallery_image_counter 1 }}
{{- end }}
</div>
{{- $gallery_counter = add $gallery_counter 1 }}
{{- partial "gallery_set_counters.html"
            (dict "ctx" $.Page "gallery_counter" $gallery_counter "gallery_image_counter" $gallery_image_counter) }}
